<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>SmolBox engineering notes</title>
    <link><%= @site.url %></link>
    <description>Practical guides to running code from Elixir with SmolBox.</description>
    <language>en</language>
    <atom:link href="<%= @site.url %>feed.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate><%= SmolBox.Blog.rss_date(@latest) %></lastBuildDate>
    <%= for article <- @site.articles do %>
    <item>
      <title><%= SmolBox.Blog.HTML.escape(article["title"]) %></title>
      <description><%= SmolBox.Blog.HTML.escape(article["description"]) %></description>
      <link><%= @site.url %>blog/<%= article["slug"] %>/</link>
      <guid isPermaLink="true"><%= @site.url %>blog/<%= article["slug"] %>/</guid>
      <pubDate><%= SmolBox.Blog.rss_date(article["published_on"]) %></pubDate>
    </item>
    <% end %>
  </channel>
</rss>
